<!DOCTYPE html>

<head>
        <title>data export</title>
        <meta charset="utf-8">
</head>

<body>
    <h4>visualization 1: language based analysis</h4>
    <br>
    <h5>This visualization show the percentages of code written with different languages in microsoft and google.</h5>
    <br>
    <a href="display1">Click to view visualization 1</a>
    <br>
    <br>
    <h4>visualization 2: user based analysis</h4>
    <br>
    <h5>This visualization has 2 tables.</h5>
    <br>
    <h5>One show the number of languages that employees in microsoft and google are familliar with.</h5>
    <br>
    <h5>The other one show the languages that employees are most good at and how many employees in both companies specialize in these languages.</h5>
    <br>
    <a href="display2">Click to view visualization 2</a>

</body>
